@model Tidrapport.Models.TimeReport

@{
    ViewBag.Title = "Tidrapport";
}

<h2>Tidrapport, @Html.DisplayFor(model => model.YearWeek) (@ViewBag.Monday-@ViewBag.Sunday)</h2>
<h4>Anställd: @Model.Employee.FullName</h4>
<div>
    <h4>Arbetad tid (provar dagsvyn till att börja med)</h4>
    <hr />
    <h4>Ingående saldon</h4>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.Employee.OverTimeBalance1)</th>
                <th>@Html.DisplayNameFor(model => model.Employee.OverTimeBalance2)</th>
                <th>@Html.DisplayNameFor(model => model.Employee.OverTimeBalance3)</th>
                <th>@Html.DisplayNameFor(model => model.Employee.FlexBalance)</th>
                <th>@Html.DisplayNameFor(model => model.Employee.SavedHolidays)</th>            
            </tr>
        </thead>
        <tfoot>

        </tfoot>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Employee.OverTimeBalance1)</td>
                <td>@Html.DisplayFor(model => model.Employee.OverTimeBalance2)</td>
                <td>@Html.DisplayFor(model => model.Employee.OverTimeBalance3)</td>
                <td>@Html.DisplayFor(model => model.Employee.FlexBalance)</td>
                <td>@Html.DisplayFor(model => model.Employee.SavedHolidays)</td>    
            </tr>              
        </tbody>
    </table>
    <div>

    </div>
    <h4> Tidrapport @Html.DisplayFor(model => model.YearWeek) (@ViewBag.Monday-@ViewBag.Sunday)</h4>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayFor(model => model.YearWeek)</th>
                <th>Må, @ViewBag.Monday</th>
                <th>Ti, @ViewBag.Tueday</th>
                <th>On, @ViewBag.Wednesday</th>
                <th>To, @ViewBag.Thursday</th>
                <th>Fr, @ViewBag.Friday</th>
                <th>Lö, @ViewBag.Saturday</th>
                <th>Sö, @ViewBag.Sunday</th>
            </tr>
        </thead>
        <tfoot>

        </tfoot>
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Presence)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Absence)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Summary)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Flex)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Overtime1)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Overtime2)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Overtime3)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Comp1)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Comp2)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Comp3)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.NationalHoliday)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.PaidHoliday)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.UnpaidHoliday)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.SavedHoliday)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div>

    </div>
    <table>
        <td>
            @Html.DisplayNameFor(model => model.Date)
        </td>

        <dd>
            @*@Html.DisplayFor(model => model.Date)
                @Html.DisplayFor(model => model.Date.DayOfWeek + model => Model.Date )
                @Html.DisplayFor(model => model => Model.Date. )*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearWeek)
        </dt>

        <dd>


            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmittedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmittedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmittedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmittedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Presence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Presence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Absence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Absence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overtime1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overtime1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overtime2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overtime2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overtime3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overtime3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comp1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comp2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comp3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp3)
        </dd>

        </dl>
    </table>  
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
