@model Tidrapport.Models.TimeReport

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TimeReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.SSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.SSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmittedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmittedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmittedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmittedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Presence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Presence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Absence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Absence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overtime1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overtime1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overtime2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overtime2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overtime3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overtime3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comp1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comp2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comp3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp3)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
