@model Tidrapport.Models.UserRoleViewModel

@{
    ViewBag.Title = "Lås upp";
}

<h2>Lås upp</h2>

<div>
    <h4>Användare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockOutEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockOutEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockedOutEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockedOutEndDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Bekräfta" class="btn btn-default" /> @*|*@
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
        <div>
            <p></p>
            <a href="@Request.UrlReferrer" class="btn btn-default btn-md-10" title="">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Tillbaka
            </a>
        </div>
    }
</div>
