@model Tidrapport.Models.Employee

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.OrgRegNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.OrgRegNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployedFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployedFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployedTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployedTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NormalWeekHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NormalWeekHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfHolidaysPerYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfHolidaysPerYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlexBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlexBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverTimeBalance1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverTimeBalance1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverTimeBalance2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverTimeBalance2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverTimeBalance3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverTimeBalance3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SavedHolidays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SavedHolidays)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeId }) |
    @*@Html.ActionLink("Back to List", "Index")*@
    <div>
        <a href="@Request.UrlReferrer" class="btn btn-default btn-md-10" title="">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Tillbaka
        </a>
    </div>
</p>
