@model IEnumerable<Tidrapport.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Anställda</h2>

<h4>Företag: @ViewBag.CompanyName</h4>

@*<form>
    <label for="search-1">Sök:</label>
    <input id="filterTable-input" data-type="search">
</form>*@

@*<p>
    @Html.ActionLink("Skapa ny anställd", "Create")
</p>*@
<table class="ui-responsive" id="movie-table" data-role="table" data-input="#filterTable-input" data-filter="true">
    <thead>
        <tr>
            @if (@ViewBag.CompanyName == "*")
            {
                <th>
                    <span>
                        @Html.DisplayNameFor(model => model.Company.Name)
                        <a href="@Url.Action("Index", new { sortOrder = ViewBag.CompanySortParm })" class="btn btn-sm btn-">
                            <span class="glyphicon glyphicon-sort"></span>
                        </a>
                    </span>
                </th>
            }
            <th>
                <span>
                    @Html.DisplayNameFor(model => model.SSN)
                    <a href="@Url.Action("Index", new { sortOrder = ViewBag.SSNSortParm })" class="btn btn-sm btn-">
                        <span class="glyphicon glyphicon-sort"></span>
                    </a>
                </span>
            </th>
            <th>
                <span>
                    @Html.DisplayNameFor(model => model.LastName)
                    <a href="@Url.Action("Index", new { sortOrder = ViewBag.NameSortParm })" class="btn btn-sm btn-">
                        <span class="glyphicon glyphicon-sort"></span>
                    </a>
                </span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployedFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormalWeekHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfHolidaysPerYear)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.FlexBalance)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.OverTimeBalance1)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.OverTimeBalance2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OverTimeBalance3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SavedHolidays)
                </th>*@
            <th>
                <span>
                    @if (ViewBag.CompanyId == null)
                    {
                        <a href="@Url.Action("RegisterEmployee")" class="btn btn-default btn-">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Skapa ny anställd
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("RegisterEmployee", new { id = ViewBag.CompanyId })" class="btn btn-default btn-">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            Skapa ny anställd
                        </a>
                    }
                </span>
            </th>
        </tr>
    </thead>
    <tfoot>

    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (@ViewBag.CompanyName == "*")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Company.Name)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.SSN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployedFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployedTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalWeekHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfHolidaysPerYear)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.FlexBalance)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.OverTimeBalance1)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.OverTimeBalance2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OverTimeBalance3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SavedHolidays)
                    </td>*@
                <td>
                    <span>
                        <a href="@Url.Action("Edit", new { id = item.EmployeeId })" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-edit"></span> Editera
                        </a>
                    </span>
                    <span>
                        <a href="@Url.Action("Details", new { id = item.EmployeeId })" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-expand"></span> Detaljer
                        </a>
                    </span>
                    @*<span>
                            <a href="@Url.Action("Delete", new { id = item.EmployeeId })" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-trash"></span> Tabort roll
                            </a>
                        </span>*@
                    <span>
                        <a href="@Url.Action("Projects", "ProjectEmployees", new { id = item.EmployeeId })" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-align-justify"></span> Projekt
                        </a>
                    </span>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId }) |
                        @Html.ActionLink("Details", "Details", new { id=item.EmployeeId }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeId })*@
                </td>
            </tr>
        }
    </tbody>

</table>
@*<span>
    <a href="@Url.Action("Index", "Companies")" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-backward"></span> Tillbaka
    </a>
</span>*@
<div>
    <a href="@Request.UrlReferrer" class="btn btn-default btn-md-10" title="">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Tillbaka
    </a>
</div>
