@model Tidrapport.Models.Employee

<div>
    <h4>Mina uppgifter</h4>
    <hr />
    
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Company.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Company.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Company.OrgRegNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Company.OrgRegNo)
                </dd>
            </dl>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SSN)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SSN)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ZipCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.City)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Country)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Country)
                </dd>
             </dl>
        </div>
 
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.EmployedFrom)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmployedFrom)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EmployedTo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmployedTo)
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NormalWeekHours)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NormalWeekHours)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NumberOfHolidaysPerYear)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumberOfHolidaysPerYear)
                </dd>
            </dl>
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FlexBalance)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FlexBalance)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OverTimeBalance1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OverTimeBalance1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OverTimeBalance2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OverTimeBalance2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OverTimeBalance3)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OverTimeBalance3)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SavedHolidays)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SavedHolidays)
                </dd>

            </dl>
         </div>
    </div>
</div>
