@model Tidrapport.Models.NationalHolidayBalancePeriod

<div>
    <h4>NationalHolidayBalancePeriod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.SSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.SSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @*@Html.ActionLink("Back to List", "Index")*@
    <div>
        <a href="@Request.UrlReferrer" class="btn btn-default btn-md-10" title="">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Tillbaka
        </a>
    </div>
</p>
