@model Tidrapport.Models.Company

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrgRegNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgRegNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        @*<div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>*@
        <div>
            <a href="@Request.UrlReferrer" class="btn btn-default btn-md-10" title="">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Tillbaka
            </a>
        </div>
    }
</div>
