@model IEnumerable<Tidrapport.Models.ProjectEmployee>

@{
    ViewBag.Title = "Medlemmar i projekt";
}

<h2>Lista projektmedlemmar</h2>

<h4>Projekt: @ViewBag.ProjectName</h4>

@*<p>
    @Html.ActionLink("Lägg till anställd", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Project.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.Number)
        </th>*@
        <th>
            <a href="@Url.Action("ConnectEmployeeToProject", new { id = ViewBag.ProjectId})" class="btn btn-default btn-">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Lägg till medlem
            </a>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FullName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Employee.FirstName)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.Number)
        </td>*@
        <td>
            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-trash"></span> Tabort
            </a>
        </td>
    </tr>
}

</table>
