@model IEnumerable<Tidrapport.Models.Activity>

@{
    ViewBag.Title = "Index";
}

<h2>Aktiviteter</h2>
<h4>Projekt: @ViewBag.ProjectName</h4>

@*<p>
    @Html.ActionLink("Skapa ny aktivitet", "Create")
</p>*@
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Project.Number)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceEffect)
            </th>
            <th>
                <a href="@Url.Action("Create")" class="btn btn-default btn-">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                    Skapa ny aktivitet
                </a>
            </th>
        </tr>
    </thead>
    <tfoot>

    </tfoot>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Project.Number)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BalanceEffect)
                </td>
                <td>
                    <span>
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-edit"></span> Editera
                        </a>
                    </span>
                    @*<span>
                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-expand"></span> Detaljer
                            </a>
                        </span>*@
                    <span>
                        <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span> Tabort
                        </a>
                    </span>
                    <span> </span>

                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>
        }

    </tbody>
</table>
@*<div>
    @Html.ActionLink("Tillbaka", "Index", "Projects")
</div>*@
<div>
    <a href="@Request.UrlReferrer" class="btn btn-default btn-md-10" title="">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Tillbaka
    </a>
</div>
