@model Tidrapport.Models.TimeReportTemplate

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TimeReportTemplate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Activity.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.SSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.SSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfHours)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @*@Html.ActionLink("Back to List", "Index")*@
            <div>
                <a href="@Request.UrlReferrer" class="btn btn-default btn-md-10" title="">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Tillbaka
                </a>
            </div>
        </div>
    }
</div>
