@model Tidrapport.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrgRegNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgRegNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |
    @*@Html.ActionLink("Back to List", "Index")*@
    <div>
        <a href="@Request.UrlReferrer" class="btn btn-default btn-md-10" title="">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Tillbaka
        </a>
    </div>
</p>
